@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

tooltip {
     border-radius: 4px;
     background-color: @crust;
}


* {
  font-family: '0xProto Nerd Font';
  font-size: 13px;
  font-weight: 900;
  min-height: 0;
}

#waybar {
  background: @crust;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}


#workspaces button {
  color: @green;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @red;
  background-color: @surface1;
  border-radius: 1rem;

}

#workspaces button.urgent {
  color: @red;
  background-color: @surface1;
  border-color: @red;
  border-radius: 1rem;

}
#workspaces button:hover {
  color: @red;
  border-color: @red;
  border-radius: 1rem;
}

#custom-wayves,
#custom-weather,
#tray,
#clock,
#custom-brightness-toggle,
#memory,
#pulseaudio,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @green;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}
#custom-wayves {
  color: @green;
}

#custom-brightness-toggle {
  color: @green;
}
#pulseaudio {
  color: @green;
  border-radius: 0rem 0px 0px 0rem; 

}

#memory {
  color: @green;
border-radius: 1rem 0 0 1rem;
  margin-left: 1rem;
}

#custom-lock {
    border-radius: 1rem 1px 1px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 1rem;
    color: @red;
}

#custom-weather {
    margin-right: 1rem;
    border-radius: 1rem;
    color: @green;
}
#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
